@charset "utf-8";
body, .all{
	margin:0px;
	padding:0px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#555555;
	background-color:#555555;
}
.box{
	width:320px;
	margin:40px auto 20px auto;
	background-color:#FAFAFA;
}

.box-title{
	background-color:#CCCCCC;
	padding:6px 16px;
	font-size:14px;
	font-weight:bold;
}
.box-form{
	background-color:#FAFAFA;
	padding:16px 16px;
}
.label{
	float:left;
	width:70px;
}
.field{
	margin-left:80px;
}
.clear{
	clear:both;
	padding-bottom:2px;
}
.input-text-login{
	padding:2px;
	border:1px solid #DDDDDD;
	background-color:#FFFFFF;
	width:196px;
}
.rep a, .ui-dialog-buttonset button, .dialog-button-area button, .button-search, .dialog-button-area input, .com-button{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	border:1px solid #BBBBBB;
	background:#EEEEEE url(images/button4.png) no-repeat left center;
	color:#555555;
	padding:2px 10px;
	text-decoration:none;
}

.ui-dialog-buttonset button:hover, .dialog-button-area button:hover, .button-search:hover, .dialog-button-area input:hover, .com-button:hover, 
.ui-dialog-buttonset button:focus, .dialog-button-area button:focus, .button-search:focus, .dialog-button-area input:focus, .com-button:focus{
	border:1px solid #6D8D9E;
	background:#E8F5FD url(images/button4.png) no-repeat center center;
	color:#075381;
}

.delete-button:hover{
	border:1px solid #DEB0A5;
	background:#FCEEE7 url(images/button4.png) no-repeat right center;
	color:#984747;
}


